.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner img:nth-child(1) {
    width: 40%;
}

.banner h1 {
    text-shadow: 3px 3px 3px rgb(195, 195, 195);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner img:last-child {
    width: 90%;
}